include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include apexaiassistant *.css
recursive-include apexaiassistant *.csv
recursive-include apexaiassistant *.html
recursive-include apexaiassistant *.ico
recursive-include apexaiassistant *.js
recursive-include apexaiassistant *.json
recursive-include apexaiassistant *.md
recursive-include apexaiassistant *.png
recursive-include apexaiassistant *.py
recursive-include apexaiassistant *.svg
recursive-include apexaiassistant *.txt
recursive-exclude apexaiassistant *.pyc
